In [1]:
import pandas as pd

In [18]:
#Load dataset
df=pd.read_csv('open-rice.csv')

### Explore Dataset

In [19]:

df.head(10)

,address,bookmarks,dislikes,food_type,likes,name,number_of_reviews,price_range
0,"Shop J-K., 200 Hollywood Road,",5838,6,Hong Kong Style,78,For Kee Restaurant 科記咖啡餐室,(133 Reviews),Below $50
1,"G/F, 108 Hollywood Road,",3492,2,International,20,Blue · Butcher & Meat Specialist,(30 Reviews),$201-400
2,"G/F, 206 Hollywood Road,",5517,5,Thai,31,Chachawan,(43 Reviews),$201-400
3,"Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...",1173,1,Hong Kong Style,23,Capital Café 華星冰室,(39 Reviews),Below $50
4,"G/F, 38 Queens Road West,",1064,1,Indian,50,Namaste Kitchen 滋味廚房,(57 Reviews),$51-100
5,"Shop 1, G/F, King Ho Building, 41-49 Aberdeen ...",3300,0,Vietnamese,21,Bun Cha Vietnamese,(33 Reviews),$101-200
6,"G/F, 12 Tung Street,",5101,3,Western,14,Halfway Coffee 半路咖啡,(25 Reviews),Below $50
7,"G/F, Sea View Commercial Building, 21-24 Conna...",591,3,Guangdong,30,Fung Shing Restaurant 鳳城酒家,(37 Reviews),$101-200
8,"Shop 1B, G/F, Cheungs Building, 1 Wing Lok Str...",1224,0,Western,28,Veggi Monster,(32 Reviews),$51-100
9,"G/F, 8 Hillier Street,",1452,0,Japanese,28,Pokéworld,(37 Reviews),$51-100

In [20]:
df.columns

Index(['address', 'bookmarks', 'dislikes', 'food_type', 'likes', 'name',
       'number_of_reviews', 'price_range'],
      dtype='object')

In [21]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 26165 entries, 0 to 26164
Data columns (total 8 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   address            26165 non-null  object
 1   bookmarks          26165 non-null  int64
 2   dislikes           26165 non-null  int64
 3   food_type          26165 non-null  object
 4   likes              26165 non-null  int64
 5   name               26165 non-null  object
 6   number_of_reviews  26165 non-null  object
 7   price_range        26165 non-null  object
dtypes: int64(3), object(5)
memory usage: 1.6+ MB

### 1.Identify missing values

In [22]:
df.isnull().any()

address              False
bookmarks            False
dislikes             False
food_type            False
likes                False
name                 False
number_of_reviews    False
price_range          False
dtype: bool

The above command checks if missing values exist in the dataset.
it’s always good to check the number of missing values in a dataset that you might want to use the dataset-building models. When trying to build a model, any field with around 90% missing data should be excluded from the dataset as such field won’t be making any contributions to the model accuracy, so with the above command, if you discover that a particular area has missing values you can dig further to know the proportion of missing values as this will help you decide whether to keep such field or not.

### 2.Remove Duplicates

In [23]:
# Get the length of the dataset
len(df)

26165

In [24]:
df.drop_duplicates()

,address,bookmarks,dislikes,food_type,likes,name,number_of_reviews,price_range
0,"Shop J-K., 200 Hollywood Road,",5838,6,Hong Kong Style,78,For Kee Restaurant 科記咖啡餐室,(133 Reviews),Below $50
1,"G/F, 108 Hollywood Road,",3492,2,International,20,Blue · Butcher & Meat Specialist,(30 Reviews),$201-400
2,"G/F, 206 Hollywood Road,",5517,5,Thai,31,Chachawan,(43 Reviews),$201-400
3,"Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...",1173,1,Hong Kong Style,23,Capital Café 華星冰室,(39 Reviews),Below $50
4,"G/F, 38 Queens Road West,",1064,1,Indian,50,Namaste Kitchen 滋味廚房,(57 Reviews),$51-100
...,...,...,...,...,...,...,...,...
26155,"G/F, Po Chi Court, 15 Ship Street,",1207,30,International,71,Double Tree,(142 Reviews),$101-200
26158,"Shop 3-5, 2/F, Nan Fung Tower, 173 Des Voeux R...",2217,4,International,32,Urban Park 城市匯,(52 Reviews),$201-400
26159,"2/F, Hotel Pennington, 13-15 Pennington Street,",3703,1,International,45,Wheatfield Kitchen 麥田廚房,(57 Reviews),$51-100
26160,"Rooftop, Courtyard By Marriott Hong Kong Sha T...",2770,0,International,33,LEVELthirty Lounge & Bar,(44 Reviews),$101-200
26164,"9/F, Hung To Centre, 94-96 How Ming Street,",1736,1,International,33,Centre de Vin,(53 Reviews),$201-400

In [25]:
df1=df.drop_duplicates()

In [26]:
df=len(df)

In [27]:
df

26165

In [29]:
df1=len(df1)

In [30]:
# number of duplicates
Number_of_duplicates=df-df1
print(Number_of_duplicates)

4866

### 3.Remove unwanted leading and trailing characters

It was observed that the address field of the dataset has trailing commas, 
Let's check it out below:

In [12]:
df['address']

0                           Shop J-K., 200 Hollywood Road,
1                                 G/F, 108 Hollywood Road,
2                                 G/F, 206 Hollywood Road,
3        Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...
4                                G/F, 38 Queens Road West,
                               ...
26160    Rooftop, Courtyard By Marriott Hong Kong Sha T...
26161                             6/F, Yuen Long Landmark,
26162    2-3/F, Chau Hop Shing Building, 2- 8 Chung On ...
26163                G/F, 9-13 Fuk Sau Lane, Sai Ying Pun,
26164          9/F, Hung To Centre, 94-96 How Ming Street,
Name: address, Length: 26165, dtype: object

In [13]:
#The above code snippets will help to remove every comma at the end of each row in the address field.
df['address']=df['address'].str.strip(',')

In [14]:
df['address']

0                            Shop J-K., 200 Hollywood Road
1                                  G/F, 108 Hollywood Road
2                                  G/F, 206 Hollywood Road
3        Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...
4                                 G/F, 38 Queens Road West
                               ...
26160    Rooftop, Courtyard By Marriott Hong Kong Sha T...
26161                              6/F, Yuen Long Landmark
26162    2-3/F, Chau Hop Shing Building, 2- 8 Chung On ...
26163                 G/F, 9-13 Fuk Sau Lane, Sai Ying Pun
26164           9/F, Hung To Centre, 94-96 How Ming Street
Name: address, Length: 26165, dtype: object

It was also observed that the number of reviews field has strings and parentheses. However, this field should only contain integer characters.

let’s check it out below:

In [17]:
df['number_of_reviews']

0        (133 Reviews)
1         (30 Reviews)
2         (43 Reviews)
3         (39 Reviews)
4         (57 Reviews)
             ...
26160     (44 Reviews)
26161    (113 Reviews)
26162    (232 Reviews)
26163     (50 Reviews)
26164     (53 Reviews)
Name: number_of_reviews, Length: 26165, dtype: object

In [18]:
df['number_of_reviews']=df['number_of_reviews'].str.strip("()")

In [19]:
import regex as re
def new_columns(s):
    m=re.search('\d+',s)
    if m:
        return m.group()
    return s

In [20]:
df['number_of_reviews']=df['number_of_reviews'].apply(new_columns)

In [21]:
df.head()

,address,bookmarks,dislikes,food_type,likes,name,number_of_reviews,price_range
0,"Shop J-K., 200 Hollywood Road",5838,6,Hong Kong Style,78,For Kee Restaurant 科記咖啡餐室,133,Below $50
1,"G/F, 108 Hollywood Road",3492,2,International,20,Blue · Butcher & Meat Specialist,30,$201-400
2,"G/F, 206 Hollywood Road",5517,5,Thai,31,Chachawan,43,$201-400
3,"Shop 3018, 3/F, Shun Tak Centre, 168-200 Conna...",1173,1,Hong Kong Style,23,Capital Café 華星冰室,39,Below $50
4,"G/F, 38 Queens Road West",1064,1,Indian,50,Namaste Kitchen 滋味廚房,57,$51-100

## Conclusion
To recap, I implemented data cleaning in pandas using the following three ways:

- Identify missing values

- Remove duplicates

- Remove unwanted trailing and leading characters.